#{{ ansible_managed }}
ext_if = "{{ ansible_default_ipv4.device }}"

# The loopback interface isn't relevant.
set skip on lo0
# Drop blocked packets
set block-policy drop

# Allow all outgoing packets
pass out quick all

# Block all incoming packets...
block in all
# ...but accept icmp packets...
pass in quick inet proto icmp all
pass in quick inet6 proto icmp6 all
# ...and all tcp packets on these ports.
tcp_ports = "{ ssh, http, https }"
pass in proto tcp from any to ($ext_if) port $tcp_ports
